.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    min-width: 90px;
    padding: 10px;
    border: 0px;
    border-radius: 2px;
    background-color: black;
    color: white;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}
.button:hover {
    background-color: #5f5f5f;
    text-decoration: none;
}


.button-white {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.button-white:hover {
    background-color: black;
    color: white;
    
}

.button-red {
    background-color: tomato;
    color: white;
}
.button-red:hover {
    background-color: rgb(150, 56, 40);
    color: white;
    
}

.button-blue {
    background-color: dodgerblue;
    color: white;
}
.button-blue:hover {
    background-color: rgb(17, 86, 155);
    color: white;
    
}

.button-green {
    background-color: rgb(85, 221, 85);
    color: white;
}
.button-green:hover {
    background-color: rgb(65, 160, 65);
    color: white;
    
}

.button-yellow {
    background-color: rgb(255, 238, 0);
    color: rgb(49, 49, 49);
}
.button-yellow:hover {
    background-color:rgb(216, 202, 1);
    color: rgb(49, 49, 49);
    
}

.action-widgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

